.divTotalPersonal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
   
}

.divPersonal{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 150px;
}


.perLeft{
    margin: 0 auto;
    width: 450px;
    min-height: 460px;
    max-height: 460px;
    border: solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    padding: 30px;
}

.perLeft input{
    text-align: center;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: solid black 3px;
    background-color: #1A2A47;
    color: white;
    border: solid 1px;
    font-family: 'Carter One', cursive;
    padding: 5px;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
}

.perLeft input:hover{
    background-color: rgb(118, 110, 108);

}


.perRight{
    flex-direction: row;
    margin: 0 auto;
    width: 450px;
    min-height: 460px;
    max-height: 460px;
    border: solid;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: rgb(242, 242, 242);
    border-radius: 10px;
    
}


.butReStart{
    background-color: rgb(242, 242, 242);
    color:  black;
    padding: 15px;
    border: solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 1580px;
    font-family: 'Carter One', cursive;
    cursor: pointer;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
    list-style: none;
}

.butReStart:hover{
    color: white;
    background-color: #1A2A47;
}

.butRecomendador{
    background-color: rgba(0, 0, 0, 0.2);
    color:  white;
    padding: 15px;
    border: solid;
    margin: 0 auto;
    margin-top: 50px;
    width: 500px;
    font-family: 'Carter One', cursive;
    cursor: pointer;
    list-style: none;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

.btnUpdate{
    padding: 10px;
}

.btnUpdate:active{
    background-color:  rgb(255, 117, 96);
}


.btnDelete{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 400px;
    margin-top: 20px;
    background-color:black;
    color:rgb(118, 110, 108);
    padding: 15px;
    border: solid;
    cursor: pointer;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
    font-family: 'Carter One', cursive;
}


.btnDelete:hover{
    background-color: red;
}


.formPersonal .btnUpdate{
    border-radius: 50px;
    margin-top: 20px;
}

.formPersonal .btnUpdate:hover{
    background-color: brown;
}

.divResetFilm{
    margin: 0 auto;
    text-align: center;
    height: 50px;
}


.divDeletePrin{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 200px;
}

h4{
    font-family: 'Carter One', cursive;
 
}


.divSesionNav{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: black;
}